@page "/contact"
@inject AppDbContext dbContext;
@inject ContactServices service;
@*Deze razor component is aangemaakt voor het maken vna de contact pagina*@

@attribute [NavigationTab("Contact", Index = 0)]

<h1 class="display-4">
    QARS Contact Information
</h1>
<p class="lead">Please click the location you'd like to view below</p>

<div class="col-12 d-flex justify-content-between">
    <div class="col-9">
        <div class="back container">


            <div class="customtablerow row bg-light">
                <table class="table">
                    <thead class="thead-light">
                        <tr>
                            @* names the columns *@
                            <th scope="col">Name</th>
                            <th scope="col">City</th>
                            <th scope="col">Country</th>

                        </tr>
                    </thead>
                    <tbody>
                        @* loop through the database to show the options.
                            makes the button press possible.  *@
                        @if (dbContext.Contacts.Any())
                        {
                            @foreach (var contact in dbContext.Contacts)
                            {
                                var contactid = contact.Id;
                                <tr @onclick="@(e =>Lookup(contactid))">
                                    <td>@contact.Discript</td>
                                    <td>@contact.City</td>
                                    <td>@contact.Countrycode</td>
                                </tr>
                            }
                        }
                        else
                        {
                            <tr><td colspan="6"><strong>No locations available</strong></td></tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


@if (displayLocation)
{
    <h1>@discript</h1>
    <img src="data:image;base64,@System.Convert.ToBase64String(img)" style="width: 300px" />
    <p>main location: @address, @city</p>
    <p>country: @country</p>
    <p> tel: @tell </p>
}

<style>
    button {
        font-size: 40px;
        padding: 10px;
        border-radius: 10px;
        margin: 10px;
        float: left;
        margin-left: auto;
    }

    #container {
        text-align: center;
        align-items: center;
        margin-left: auto;
    }

    #input {
        display: block;
        margin: auto
    }

    #mainBody {
        background: url(/img/secondback.jpg);
    }

    #text {
        font-size: 3040px;
        padding: 10px;
        border-radius: 10px;
        margin: 10px;
    }
</style>


@code{
    string address;
    string tell;
    string discript;
    string country;
    string city;
    bool displayLocation = false;
    byte[] img = new byte[0];


    void Lookup(int contactid)
    {
        @* searches the Contacts until the id is found to connect data to the variables. *@
        if (dbContext.Contacts.Find(contactid) is { } contact)
        {
            address = contact.Contactaddress;
            tell = contact.Tell;
            discript = contact.Discript;
            country = contact.Countrycode;
            img = contact.Image;
            city = contact.City;
            displayLocation = true;
        }
    }   

}


