@page "/manageemployees"
@using QARS.Data.Models
@using Microsoft.AspNetCore.Identity
@inject EmployeeServices service
@inject UserManager<User> UserManager
@inject AppDbContext dbContext


<link rel="stylesheet" href="/css/manage.css">

<AuthorizeView Roles="Franchisee, Admin">
    <Authorized>
        <div class="row d-flex justify-content-between">
            <div class="col-md-3">
                <UserDashboard />
            </div>

            <div class="col-md-9">
                <div class="back container">
                    <div class="heading">
                        <h1 class="display-3" style="text-align: left;">Employee Manager</h1>
                        <p class="lead" style="text-align: left;">All existing employees are displayed below. Create a new employee using the 'Add Employee' button. Show more details or delete employees by using the action buttons displayed in the table.</p>
                    </div>

                    <div class="customtablerow row bg-light">
                        <table class="table">
                            <thead class="thead-light">
                                <tr>
                                    <th scope="col">ID</th>
                                    <th scope="col">Email</th>
                                    <th scope="col">Firstname</th>
                                    <th scope="col">Lastname</th>
                                    <th scope="col">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Employees.Any())
                                {
                                    @foreach (var employee in Employees)
                                    {
                                        <tr>
                                            <td scope="col">@employee.Id</td>
                                            <td>@employee.Email</td>
                                            <td>@employee.FirstName</td>
                                            <td>@employee.LastName</td>
                                            <td><button class="btn btn-danger" @onclick="(() => DeleteEmployee(employee))">Delete</button>  <button @onclick="@(() => ShowEditEmployee(employee))" class="btn btn-warning">Show</button></td>
                                        </tr>
                                    }
                                }
                                else
                                {
                                    <tr><td colspan="6"><strong>No employees available</strong></td></tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    @foreach (var franchisee in dbContext.Franchisees)
                    {
                        if (franchisee.Id == UserId)
                        {
                            <button @onclick="@(() => ShowAddEmployee())" class="btn btn-success">Add Employee</button>
                        }
                    }
                </div>
            </div>
        </div>
    </Authorized>
    <NotAuthorized>
        <p>You do not have permission to access this page. Please log in and try again.</p>
    </NotAuthorized>
</AuthorizeView>

@code {
    List<Employee> Employees = new List<Employee>();

    public int UserId = new int();

    [CascadingParameter]
    private Task<AuthenticationState> authenticationStateTask { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var authState = await authenticationStateTask;
        if (authState.User.Identity.IsAuthenticated)
        {
            var user = await UserManager.GetUserAsync(authState.User);
            UserId = user.Id;
        }

        await RefreshEmployees(UserId);
    }
    private async Task RefreshEmployees(int franchiseeid)
    {
        Employees = await service.GetEmployeesAsync(franchiseeid);
    }

    private async Task DeleteEmployee(Employee employee)
    {
        await service.DeleteEmployeeAsync(employee);
        await RefreshEmployees(UserId);
    }
    [CascadingParameter] public IModalService Modal { get; set; }
    async Task ShowEditEmployee(Employee employee)
    {
        var parameters = new ModalParameters();
        parameters.Add(nameof(EditEmployee.Employee), employee);

        var editModal = Modal.Show<EditEmployee>("Edit Employee", parameters);
        var result = await editModal.Result;
        StateHasChanged();
    }

    async Task ShowAddEmployee()
    {
        var addModal = Modal.Show<AddEmployee>("Add Employee");
        var result = await addModal.Result;
    }
}
