@inject CarModelServices service
@inject IFileReaderService FileReader

@using QARS.Data.Models
@using System.IO;
@using Tewr.Blazor.FileReader;

<link href="/css/modal.css" rel="stylesheet" />

<EditForm Model="@NewCarModel" OnValidSubmit="AddNewCarModel">
    <DataAnnotationsValidator />
    <div class="form-group">
        <label for="brand">Brand</label>
        <input placeholder="Fill in the car brand (e.g. 'Tesla')" type="text" id="brand" class="form-control" @bind="@NewCarModel.Brand" />
    </div>
    <div class="form-group">
        <label for="type">Type</label>
        <input placeholder="Fill in the car type (e.g. 'Model 3')" id="type" class="form-control" @bind="@NewCarModel.Type" />
    </div>
    <div class="form-group">
        <label for="category">Category</label><br />
        <small>Select category</small>
        <select class="form-control" @bind="@NewCarModel.Category">
            @foreach (QARS.Data.Models.CarCategory category in Enum.GetValues(typeof(QARS.Data.Models.CarCategory)))
            {
                <option value="@category">@category</option>
            }
        </select>
    </div>
    <div class="form-group">
        <label for="dayrate">Day Rate</label><br />
        <small>Fill in the cost of the car per day</small>
        <input id="dayrate" class="form-control" @bind="@NewCarModel.DayRate" />
    </div>
    <div class="form-group">
        <label for="kmrate">Kilometer Rate</label><br />
        <small>Fill in the cost per kilometer</small>
        <input type="text" id="kmrate" class="form-control" @bind="@NewCarModel.KMRate" />
    </div>
    <div class="form-group">
        <label for="freeMileage">Free Mileage</label><br />
        <small>Fill in the amount of free kilometers</small>
        <input type="text" id="freeMileage" class="form-control" @bind="@NewCarModel.FreeMileage" />
    </div>
    <div class="form-group">
        <label for="description">Image</label>
        <FileSelector @ref="FileSelector" />
    </div>
    <div class="form-group">
        <label for="description">Description</label>
        <textarea placeholder="Write a description for the car" rows="3" type="text" id="description" class="form-control" @bind="@NewCarModel.Description" />
    </div>
    <div class="form-group">
        <label for="doors">Doors</label><br />
        <small>Fill in the amount of doors the car has</small>
        <input id="doors" class="form-control" @bind="@NewCarModel.Doors" />
    </div>
    <div class="form-group">
        <label for="efficiency">Efficiency</label><br />
        <small>Fill in the efficiency in km/L</small>
        <input id="efficiency" class="form-control" @bind="@NewCarModel.Efficiency" />
    </div>
    <div class="form-group">
        <label for="emission">Emission</label><br />
        <small>Fill in the emmission in g CO2/km</small>
        <input type="text" id="emission" class="form-control" @bind="@NewCarModel.Emission" />
    </div>
    <div class="form-group">
        <label for="fuelType">Fuel Type</label><br />
        <small>Select fuel type</small>
        <select class="form-control" @bind="NewCarModel.FuelType">
            @foreach (FuelType fueltype in Enum.GetValues(typeof(FuelType)))
            {
                <option value="@fueltype">@fueltype</option>
            }
        </select>
    </div>
    <div class="form-group">
        <input type="checkbox" name="hasairconditioning" value="True" @bind="@NewCarModel.HasAirconditioning" />
        <label for="hasairconditioning">Has Airconditioning</label><br />
        <small>Check the box if the car has airconditioning</small>
    </div>
    <div class="form-group">
        <label for="passenger">Passengers</label><br />
        <small>Fill in the amount of seats in the car</small>
        <input type="text" id="passenger" class="form-control" @bind="@NewCarModel.Passengers" />
    </div>
    <div class="form-group">
        <label for="suitCases">Suitcases</label><br />
        <small>Fill in the amount of suitcases able to fit in the car</small>
        <input type="text" id="suitCases" class="form-control" @bind="@NewCarModel.SuitCases" />
    </div>
    <div class="form-group">
        <label for="transmission">Transmission</label><br />
        <small>Select transmission</small>
        <select class="form-control" @bind="NewCarModel.Transmission">
            @foreach (TransmissionType transmission in Enum.GetValues(typeof(TransmissionType)))
            {
                <option value="@transmission">@transmission</option>
            }
        </select>
    </div>
    <div class="text-center p-3 mb-3">
        <button type="submit" class="btn btn-success">Add Car Model</button>
    </div>
    <ValidationSummary />
</EditForm>

@code {
    List<QARS.Data.Models.CarModel> CarModels = new List<QARS.Data.Models.CarModel>();
    [CascadingParameter] BlazoredModalInstance BlazoredModal { get; set; }

    private FileSelector FileSelector;

    public QARS.Data.Models.CarModel NewCarModel { get; set; } = new Data.Models.CarModel();
    private async Task AddNewCarModel()
    {
        FileDownloadResult result = await FileSelector.DonwloadSingleAsync();

        var upload = result.Data;

        NewCarModel.Image = upload;
        await service.AddCarModelAsync(NewCarModel);
        NewCarModel = new Data.Models.CarModel();
        await BlazoredModal.Close(ModalResult.Ok(true));
    }
}
