@page "/managecarmodels"
@inject CarModelServices service

<link rel="searchbox stylesheet" href="/css/managecarmodels.css">

<div class="back container">
    <div class="heading">
        <h1 class="display-3">Car Models Manager</h1>
        <p class="lead">All existing car models are displayed below. Create new car models using the form on the left. Edit car models by clicking them and editing them using the right form. On the far right side of the table you can delete car models from the database.</p>
    </div>

    <div class="customtablerow row bg-light">
        <table class="table">
            <thead class="thead-light">
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Brand</th>
                    <th scope="col">Day Rate</th>
                    <th scope="col">Category</th>
                    <th class="Description" scope ="col">Description</th>
                    <th scope="col">Doors</th>
                    <th scope="col">Efficiency</th>
                    <th scope="col">Emission</th>
                    <th scope="col">Free Mileage</th>
                    <th scope="col">Fuel Type</th>
                    <th scope="col">Has Airconditioning</th>
                    <th scope="col">KM Rate</th>
                    <th scope="col">Passengers</th>
                    <th scope="col">Suitcases</th>
                    <th scope="col">Transmission</th>
                    <th scope="col">Type</th>
                    <th scope="col">Delete Car Model</th>
                </tr>
            </thead>
            <tbody>
                @if (CarModels.Any())
                {
                    @foreach (var carmodel in CarModels)
                    {
                <tr @onclick="(() => SetCarModelForUpdate(carmodel))">
                    <td scope="col">@carmodel.Id</td>
                    <td>@carmodel.Brand</td>
                    <td>€@carmodel.DayRate.ToString("0.00")</td>
                    <td>@carmodel.Category</td>
                    <td>@carmodel.Description</td>
                    <td>@carmodel.Doors</td>
                    @if (carmodel.FuelType == Data.Models.FuelType.Electric)
                    {
                        <td>@carmodel.Efficiency kWh/100 km</td>
                    }
                    else
                    {
                        <td>@carmodel.Efficiency L/km</td>
                    }
                    <td>@carmodel.Emission g CO2/km</td>
                    <td>@carmodel.FreeMileage km</td>
                    <td>@carmodel.FuelType</td>
                    @if (carmodel.HasAirconditioning)
                    {
                        <td>Yes</td>
                    }
                    else
                    {
                        <td>No</td>
                    }
                    <td>€@carmodel.KMRate.ToString("0.00") /km</td>
                    <td>@carmodel.Passengers</td>
                    <td>@carmodel.SuitCases</td>
                    <td>@carmodel.Transmission</td>
                    <td>@carmodel.Type</td>
                    <td><button class="btn btn-danger" @onclick="(() => DeleteCarModel(carmodel))">Delete</button></td>
                </tr>
                    }
                }
                else
                {
                    <tr><td colspan="6"><strong>No products available</strong></td></tr>
                }
            </tbody>
        </table>
    </div>
    <div class="row m-2 d-flex justify-content-around">
        <div class="add col-5 m-2 bg-light">
            <h2>Add new Car Model</h2>
            <EditForm Model="@NewCarModel">
                <div class="form-group">
                    <label for="brand">Brand</label>
                    <input type="text" id="brand" class="form-control" @bind="@NewCarModel.Brand" />
                </div>
                <div class="form-group">
                    <label for="dayrate">DayRate</label>
                    <input type="text" id="dayrate" class="form-control" @bind="@NewCarModel.DayRate" />
                </div>
                <div class="form-group">
                    <label for="category">Category</label>
                    <select class="form-control" @bind="@NewCarModel.Category">
                        @foreach (QARS.Data.Models.CarCategory category in Enum.GetValues(typeof(QARS.Data.Models.CarCategory)))
                        {
                            <option value="@category">@category</option>
                        }
                    </select>
                </div>
                <div class="form-group">
                    <label for="description">Description</label>
                    <input type="text" id="description" class="form-control" @bind="@NewCarModel.Description" />
                </div>
                <div class="form-group">
                    <label for="doors">Doors</label>
                    <input type="text" id="doors" class="form-control" @bind="@NewCarModel.Doors" />
                </div>
                <div class="form-group">
                    <label for="efficiency">Efficiency</label>
                    <input type="text" id="efficiency" class="form-control" @bind="@NewCarModel.Efficiency" />
                </div>
                <div class="form-group">
                    <label for="emission">Emission</label>
                    <input type="text" id="emission" class="form-control" @bind="@NewCarModel.Emission" />
                </div>
                <div class="form-group">
                    <label for="freeMileage">FreeMileage</label>
                    <input type="text" id="freeMileage" class="form-control" @bind="@NewCarModel.FreeMileage" />
                </div>
                <div class="form-group">
                    <label for="fuelType">FuelType</label>
                    <select class="form-control" @bind="NewCarModel.FuelType">
                        @foreach (QARS.Data.Models.FuelType fueltype in Enum.GetValues(typeof(QARS.Data.Models.FuelType)))
                        {
                            <option value="@fueltype">@fueltype</option>
                        }
                    </select>
                </div>
                <div class="form-group">
                    <input type="checkbox" name="hasairconditioning" value="True" @bind="@NewCarModel.HasAirconditioning" />
                    <label for="hasairconditioning">HasAirconditioning</label>
                </div>
                <div class="form-group">
                    <label for="kmrate">KMRate</label>
                    <input type="text" id="kmrate" class="form-control" @bind="@NewCarModel.KMRate" />
                </div>
                <div class="form-group">
                    <label for="passenger">Passengers</label>
                    <input type="text" id="passenger" class="form-control" @bind="@NewCarModel.Passengers" />
                </div>
                <div class="form-group">
                    <label for="suitCases">SuitCases</label>
                    <input type="text" id="suitCases" class="form-control" @bind="@NewCarModel.SuitCases" />
                </div>
                <div class="form-group">
                    <label for="transmission">Transmission</label>
                    <select class="form-control" @bind="NewCarModel.Transmission">
                        @foreach (QARS.Data.Models.TransmissionType transmission in Enum.GetValues(typeof(QARS.Data.Models.TransmissionType)))
                        {
                            <option value="@transmission">@transmission</option>
                        }
                    </select>
                </div>
                <div class="form-group">
                    <label for="type">Type</label>
                    <input type="text" id="type" class="form-control" @bind="@NewCarModel.Type" />
                </div>
                <div class="text-center p-3 mb-3">
                    <button class="btn btn-success" @onclick="AddNewCarModel"> Add CarModel</button>
                </div>
            </EditForm>
        </div>

        <div class="edit col-5 m-2 bg-light">
            <h2>Edit Car Model</h2>
            <EditForm Model="@UpdateCarModel">
                <div class="form-group">
                    <label for="brand">Brand</label>
                    <input type="text" id="brand" class="form-control" @bind="@UpdateCarModel.Brand" />
                </div>
                <div class="form-group">
                    <label for="dayrate">DayRate</label>
                    <input type="text" id="dayrate" class="form-control" @bind="@UpdateCarModel.DayRate" />
                </div>
                <div class="form-group">
                    <label for="category">Category</label>
                    <select class="form-control" @bind="@UpdateCarModel.Category">
                        @foreach (QARS.Data.Models.CarCategory category in Enum.GetValues(typeof(QARS.Data.Models.CarCategory)))
                        {
                            <option value="@category">@category</option>
                        }
                    </select>
                </div>
                <div class="form-group">
                    <label for="description">Description</label>
                    <input type="text" id="description" class="form-control" @bind="@UpdateCarModel.Description" />
                </div>
                <div class="form-group">
                    <label for="doors">Doors</label>
                    <input type="text" id="doors" class="form-control" @bind="@UpdateCarModel.Doors" />
                </div>
                <div class="form-group">
                    <label for="efficiency">Efficiency</label>
                    <input type="text" id="efficiency" class="form-control" @bind="@UpdateCarModel.Efficiency" />
                </div>
                <div class="form-group">
                    <label for="emission">Emission</label>
                    <input type="text" id="emission" class="form-control" @bind="@UpdateCarModel.Emission" />
                </div>
                <div class="form-group">
                    <label for="freeMileage">FreeMileage</label>
                    <input type="text" id="freeMileage" class="form-control" @bind="@UpdateCarModel.FreeMileage" />
                </div>
                <div class="form-group">
                    <label for="fuelType">FuelType</label>
                    <select class="form-control" @bind="UpdateCarModel.FuelType">
                        @foreach (QARS.Data.Models.FuelType fueltype in Enum.GetValues(typeof(QARS.Data.Models.FuelType)))
                        {
                            <option value="@fueltype">@fueltype</option>
                        }
                    </select>
                </div>
                <div class="form-group">
                    <input type="checkbox" name="hasairconditioning" value="True" @bind="@UpdateCarModel.HasAirconditioning" />
                    <label for="hasairconditioning">HasAirconditioning</label>
                </div>
                <div class="form-group">
                    <label for="kmrate">KMRate</label>
                    <input type="text" id="kmrate" class="form-control" @bind="@UpdateCarModel.KMRate" />
                </div>
                <div class="form-group">
                    <label for="passenger">Passengers</label>
                    <input type="text" id="passenger" class="form-control" @bind="@UpdateCarModel.Passengers" />
                </div>
                <div class="form-group">
                    <label for="suitCases">SuitCases</label>
                    <input type="text" id="suitCases" class="form-control" @bind="@UpdateCarModel.SuitCases" />
                </div>
                <div class="form-group">
                    <label for="transmission">Transmission</label>
                    <select class="form-control" @bind="UpdateCarModel.Transmission">
                        @foreach (QARS.Data.Models.TransmissionType transmission in Enum.GetValues(typeof(QARS.Data.Models.TransmissionType)))
                        {
                            <option value="@transmission">@transmission</option>
                        }
                    </select>
                </div>
                <div class="form-group">
                    <label for="type">Type</label>
                    <input type="text" id="type" class="form-control" @bind="@UpdateCarModel.Type" />
                </div>
                <div class="text-center p-3 mb-3">
                    <button class="btn btn-warning" @onclick="UpdateCarModelData"> Update CarModel</button>
                </div>
            </EditForm>
        </div>

    </div>
</div>

@code {
    List<QARS.Data.Models.CarModel> CarModels = new List<QARS.Data.Models.CarModel>();
    protected override async Task OnInitializedAsync()
    {
        await RefreshCarModels();
    }
    private async Task RefreshCarModels()
    {
        CarModels = await service.GetCarModelAsync();
    }
    public QARS.Data.Models.CarModel NewCarModel { get; set; } = new Data.Models.CarModel();
    private async Task AddNewCarModel()
    {
        await service.AddCarModelAsync(NewCarModel);
        NewCarModel = new Data.Models.CarModel();
        await RefreshCarModels();
    }
    QARS.Data.Models.CarModel UpdateCarModel = new Data.Models.CarModel();
    private void SetCarModelForUpdate(QARS.Data.Models.CarModel carmodel)
    {
        UpdateCarModel = carmodel;
    }
    private async Task UpdateCarModelData()
    {
        await service.UpdateCarModelAsync(UpdateCarModel);
        await RefreshCarModels();
    }
    private async Task DeleteCarModel(QARS.Data.Models.CarModel carmodel)
    {
        await service.DeleteCarModelAsync(carmodel);
        await RefreshCarModels();
    }
}
